<header class="sticky top-0 w-full h-20 bg-transparent z-10" id="header">
            <div class="h-full" wrapper >
                <div class="flex items-center h-full space-x-11 w-max flex-nowrap" id="wrapper__header">
                    <div class="relative flex items-center min-w-[80px] max-h-[100px]">
                        <img class="h-7 max-h-20" src="../../../images/icons/9.svg" alt="Logo">
                        <a href="/" class="header__logo-link before:absolute before:inset-0"></a>
                    </div>
                    <nav class="flex justify-start ml-auto mr-auto text-base">
                        <ul class="grid grid-flow-col gap-x-11">
                            <li><a class="cursor-pointer hover:text-gray-400">Главная</a></li>
                            <li><a class="cursor-pointer hover:text-gray-400">Пакеты</a></li>        
                            <li><a class="cursor-pointer hover:text-gray-400">О нас</a></li>
                            <li><a class="cursor-pointer hover:text-gray-400">Связь</a></li>
                        </ul>
                    </nav>
                </div>
            </div>  
      </header>  